.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
tests/**/coverage/

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

.soloncode/


chrome_securgroup_all.7z
chrome_securgroup_all.zip
maximo-db2-mcp.7z
maximo-db2-mcp.zip
maximo91-ui.7z
maximo91-ui.zip
maximo-ui.zipmaximo-ui.7z